
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
}

body{
    background-color: #222;
    transition: all ease-in 0.4s;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #767575;
    color: white;
    transition: all ease-in 0.4s;
    
}
nav a{
    text-decoration: none;
    color: inherit;
}
.nav-wrapper{
    display: flex;
    max-width: 1120px;
    width: 90%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.nav-wrapper h1{
    font-weight: 500;
}
.nav-wrapper i {
    font-size: 2rem;
}

.card{
    background: linear-gradient(135deg,#00feba,#5b548a);
    width: 90%;
    max-width: 470px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    margin: 100px auto ;
}

.card-shadow{
    box-shadow: 0 5px 15px rgba(150, 148, 148, 0.7);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    outline: 0;
    border: 0;
    width: 100%;
    margin-right: 16px;
    height: 60px;
    font-size: 18px;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 24px;
    border-radius: 30px;
}

.search button{
    padding: 10px;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebfffc;
    color: #555;
    font-size: 22px;
    cursor: pointer;
    flex-shrink: 0;
}

.weather-icon{
  width: 170px; 
  margin-top: 30px;  
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: -10px;
}

.details{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.details .col {
    display: flex;
    align-items: center;
    text-align: left;
}

.details .col img{
    width: 40px;
    margin-right: 10px;
}

 .humidity, .wind{
    font-size: 28px;
    margin-top: -6px ;
}

.weather {
    display: none;
}

.error{
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

.mode{
    position: fixed;
    outline: none;
    border: none;
    right: 0;
    bottom: 50px;
    font-size: 1rem;
    padding:  0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius:50px ;
    border-bottom-left-radius: 50px;
    transition: all ease-in 0.4s;
    text-transform: capitalize;
}
.mode i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

@media (max-width :550px) {

    .card{
        max-width: 350px;
        width: 90%;
        padding: 1.5rem 1.3rem;
        margin: 100px auto 100px;
    }

    .search input{
        width: 100%;
        font-size: 1rem;
        height: 40px;
        padding:0.6rem 1.5rem;
    }
    .search button{
        height: 40px;
        width: 40px;
        font-size: 1rem;
    }
    .weather-icon {
        width: 135px;
        margin-top: 10px;
    }
    .weather h1{
        font-size: 3.6rem;
        margin-top: -10px;
    }
    .weather h2{
        font-size: 1.7rem;
    }
    .details {
        padding: 0 0.6rem;
        margin-top: 3rem;
    }

    .details .col img{
        width: 1.5rem;
        
    }
    .details .col{
        align-items: start;
    }
    p{
        font-size: 0.7rem;
    }
    .humidity, .wind{
        font-size: 1.1rem;
         margin-top: -0.75rem;
    }

}